:root{
    --hover : #8e755e;
}

html {
    font-family: 'Noto Sans KR', AppleSDGothic, 'apple sd gothic neo', MalgunGothic, 'HY Dotum', 'Lexi Gulim', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;  /* 1rem = 10px  */
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    & .board{
        font-size: 1.5rem;
        width: 126rem;
        display: grid;
        grid-template-rows: repeat(11, 1fr);
        margin-bottom: 1rem;

        & .board__row{
            display: grid;
            justify-content: center;
            align-items: center;
            border-bottom: solid 0.2rem rgba(198, 191, 185, 0.2);
            height: 4rem;
            grid-template-columns: 5% 55% 10% 10% 10% 10%;

            & .boardcell__no, .boardcell__title, .boardcell__writer,
            .boardcell__hit, .boardcell__like{
                display: flex;
                justify-content: center;
            }

            & .boardcell__date{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
            }
        }

        & .bheader{
            font-weight: bold;
            background-color: #fafaf8;
            border-top: solid 0.2rem #c6bfb9;
        }

    }

    & .board__btns{
        width: 126rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        & .board__sortbtns{
            display: flex;
            gap: 1rem;
        }

        & .btn{
            font-size: 1.5rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c5875e;
            width: 7rem;
            height: 4rem;
            border-radius: 1rem;
        }
    }

    & .board__pagination{
        gap: 2rem;
        font-size: 2rem;
        font-weight: bold;
        width: 126rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        & .active{
            color:#be8964 ;            
        }

        & .pagination{
            color: #978c87;
        }


        & .prev, .next{
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 3rem;
            height: 3rem;
            background-color: #c5875e;
            border-radius: 3rem;
        }
    }

    & .board__searchbar{
        display: flex;
        justify-content: center;
        width: 126rem;
        height: 3.5rem;
        

        & .board__text, .board__select{
            background-color: #f4f1ec;
            border: none;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 0.3rem;
        }

        & .board__select{
            width: 10rem;
            background-color: #c5875e;
        }

        & .board__text{
            width: 25%;
        }

        & .board__search{
            width: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.3rem;
            background-color: #c5875e;
        }
    }
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size: 1.5rem;
    font-weight: bold;

    & .footer__text{
        width: 126rem;
    }
}

/* Media Query 시작 */

@media screen and (max-width:945px) {

    main{

        & .board{
            font-size: 1rem;
            width: 44.5rem;

            & .bheader{
                display: none;
            }

            & .board__row{
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 10% 80% 10%;
            }
    
        }

        .board:nth-child(2){
            border-top: solid 0.2rem rgba(198, 191, 185, 0.2);
        }
        





    }

    footer{
        & .footer__text{
            width: 44.5rem;
        }
    }
    
}

/* Media Query 끝 */