html {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;  /* 1rem = 10px  */
}


.header{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 25% 50% 5% 20%;

    & .logo{
        display: flex;
        justify-content: end;
        align-items: end;
        & .logo__img{
            width: 150px;
            height: 45px;
            background-image: url("../img/logo/9doggylogo.png");
            background-size: 150px 45px;
            margin-bottom: 10px;
        }
    }

    & .menus{
        background-color: blue;
    }

    & .cart{
        background-color: aqua;
    }

    & .account{
        background-color: blueviolet;
    }
    

}

/* header{
    display: flex;
    justify-content: center;
    height: 80px;
    font-size: 1.6rem;
    font-weight: bold;

    & .header{
        display: flex;
        height: 70px;
        align-items: flex-end;
        gap: 1.5rem;
        

        & .menus{
            width: 90rem;
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }


        & .menu__cart, .menu__account{
            margin-bottom: 1rem;
        }
    }
} */

.slide_banner{
    background-color:  aqua;
}

main{
    background-color: black;
}

footer{
    background-color: blue;
}

/* Media Query 시작 */

@media screen and (max-width:945px) {

    .header{
        grid-template-columns: 33% 33% 16.5% 16.5%;
    }
}

/* Media Query 끝 */