header{
    display: grid;
    overflow: hidden;
    background-color: antiquewhite;

    & .menus{
        background-color: red;

        & li{
            background-color: blue;
        }
    }
}

.slide_banner{
    background-color:  aqua;
}

main{
    background-color: black;
}

footer{
    background-color: blue;
}