html {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;  /* 1rem = 10px  */
}


header{
    display: flex;
    justify-content: center;
    height: 80px;
    font-size: 1.6rem;
    font-weight: bold;

    & .header{
        display: flex;
        height: 70px;
        align-items: flex-end;
        gap: 1.5rem;
        

        & .menus{
            width: 90rem;
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
        & a img{
            width: 200px;
            height: 50px;
        }

        & .menu__cart, .menu__account{
            margin-bottom: 1rem;
        }
    }
}

.slide_banner{
    background-color:  aqua;
}

main{
    background-color: black;
}

footer{
    background-color: blue;
}

/* Media Query 시작 */

@media screen and (max-width:945px) {

    .header{
        width: 50%;
    }

    .menus
    {
        background-color: red;
        
    }

}

/* Media Query 끝 */